body {
	--margin: 0;
	font-family: 'Baloo Bhaina 2', cursive;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: 'Baloo Bhaina 2', cursive;
}

.testStyles {
	opacity: .2;
}

#root {
	background-color: #2f2fa2;
}

html {
	background-color: #2f2fa2;
}
