body {
	font-family: 'Baloo Bhaina 2', cursive;
	-webkit-font-smoothing: antialiased;
	--margin: 0;
	-moz-osx-font-smoothing: grayscale;
}

#root {
	font-family: 'Baloo Bhaina 2', cursive;

	background-color: #2f2fa2;
}

html {
	background-color: #2f2fa2;
}
